@folio:registry=https://repository.folio.org/repository/npm-folioci
@folio-sample-modules:registry=https://repository.folio.org/repository/npm-folioci
registry=https://repository.folio.org/repository/npm-ci-all
//repository.folio.org/repository/:_authToken={{ npm_auth_token }}
